+standardPanel('ga-instagram-settings-panel', 'ga-instagram-settings',
    'Messages - Twitter and Instagram',
    'These parameters affect which messages are loaded from the database and how they are shown.',
    'instagram')
  .ga-filter-controls(ga-section-name="instagram")
    .form-group.hidden
      label(for="ga-msgsource") Data Source
      select#ga-msgsource.form-control.input-sm(title="Database message source",
          taxifield="msgsource")
    .form-group
      label(for="ga-caption") Text Search
      input#ga-caption.form-control.input-sm(
        type="text", placeholder="Caption substring search",
        title="Use quotes to specify exact required phrases, hashtags for exact hashtag matches, () to group clauses, | for or, and ! or - to exclude phrases.  For example, searching for 'hospital -\"hospitality\" finds hospitals but not warm welcomes.",
        taxifield="caption_search", taxitype="text")
    .form-group.hidden
      label(for="ga-user-name") User Name
      input#ga-user-name.form-control.input-sm(
        type="text", placeholder="Screen name", title="Screen name",
        taxifield="user_name")
    .form-group.hidden
      label(for="ga-user-id") User ID
      input#ga-user-id.form-control.input-sm(
        type="text", placeholder="User ID", title="User ID",
        taxifield="user_id")
    .form-group
      button#ga-instagram-filter.btn.btn-default.btn-sm(
          title="Load message information from the database")
        i.icon-ok
        |  Filter
      #ga-instagram-loading.ga-loading-spinner.hidden
        i.icon-spin1.animate-spin
      span#ga-inst-points-loaded.ga-data-loaded
      label.ga-slider-label(for="ga-inst-data-grams",
        title="Maximum number of Instagram / Twitter messages to load.") Max Msgs.
      input#ga-inst-data-grams.form-control.input-sm.ga-slider-ctl(
          type="text", data-slider-min="10000", data-slider-max="1000000",
          data-slider-step="5000", data-slider-value="25000",
          data-slider-handle="square", data-slider-scale="logarithmic",
          data-slider-id="ga-inst-data-grams-ctl",
          taxifield="max_instagrams", taxitype="int")
  .ga-display-controls(ga-section-name="instagram")
    .form-group
      span(title="Show instagram and twitter message data")
        input#ga-show-instagram-data.form-control.input-sm(
          type="checkbox", checked="checked",
          taxifield="show-instagram-data", taxitype="boolean")
        label(for="ga-show-instagram-data") Show Messages
  .ga-display-controls(ga-section-name="instagram")
    .form-group
      span#ga-display-max-msg-points-group
        label.ga-slider-label(for="ga-display-max-msg-points",
          title="Maximum number message points to display.") Max Points
        input#ga-display-max-msg-points.form-control.input-sm.ga-slider-ctl(
            type="text", data-slider-min="10000",
            data-slider-max="1000000", data-slider-step="5000",
            data-slider-value="25000", data-slider-handle="square",
            data-slider-scale="logarithmic",
            data-slider-id="ga-display-max-msg-points-ctl",
            taxifield="display-max-msg-points", taxitype="int")
      label.ga-slider-label(for="ga-inst-opacity",
        title="Opacity of message points.") Opacity
      input#ga-inst-opacity.form-control.input-sm.ga-slider-ctl(
          type="text", data-slider-min="0.004",
          data-slider-max="1", data-slider-step="0.004",
          data-slider-value="0.1", data-slider-handle="square",
          data-slider-id="ga-inst-opacity-ctl",
          data-slider-scale="logarithmic",
          taxifield="inst-opacity", taxitype="float")
  .ga-legend(ga-section-name="instagram")
    .form-group
      .ga-legend-item.legend-messages.hidden
        i.icon-circle
        | Messages
      .ga-legend-item.legend-messages-new.hidden
        i.icon-circle
        | Recent Messages
      .ga-legend-item.legend-messages-old.hidden
        i.icon-circle
        | Older Messages
