#ga-main-page.ga-main-ui
  .panel-group#ga-filter-settings-panel
    .panel.panel-default
      .panel-heading
        a(data-toggle="collapse", data-parent="#ga-filter-settings-panel",
          href="#ga-filter-settings")
          .panel-title
            b Filters
            i.icon-info-circled(data-placement="bottom", data-container="body",
              title="Filters select which data is available to be displayed.  After adjusting the settings, select Filter to load the new data from the database.")
      #ga-filter-settings.panel-collapse.collapse.in
        .panel-body
          .form-group
            label(for="ga-source") Data Source
            select#ga-source.form-control.input-sm(title="Database source",
                taxifield="source")
              option(value="postgresfull") Postgres Full Shuffled
              option(value="postgres12") Postgres 1/12 Shuffled
              option(value="mongofull") Mongo Full Shuffled
              option(value="mongo12r") Mongo 1/12 Shuffled
              option(value="mongo12") Mongo 1/12 Random Value
              option(value="mongo") Mongo 1/12 Dates
              option(value="tangelo") Tangelo Service 1/12
          .form-group
            label(for="ga-medallion") Medallion
            input#ga-medallion.form-control.input-sm(
              type="text", placeholder="#XX##", title="Taxi medallion",
              taxifield="medallion")
          .form-group
            label(for="ga-hack-license") Hack License
            input#ga-hack-license.form-control.input-sm(
              type="text", placeholder="#######", title="Hack license",
              taxifield="hack_license")
          .form-group
            label(for="ga-pickup-date") Pickup Date
            input#ga-pickup-date.ga-date-range.form-control.input-sm(
              type="text", placeholder="YYYY-MM-DD hh:mm - YYYY-MM-DD hh:mm",
              title="Pickup date range",
              taxifield="pickup_datetime", taxitype="dateRange")
          .form-group
            label(for="ga-trip-distance") Trip Distance
            input#ga-trip-distance.form-control.input-sm(
              type="text", placeholder="#.## - #.## (miles)",
              title="Trip distance in miles",
              taxifield="trip_distance", taxitype="floatRange")
          .form-group
            label(for="ga-passenger-count") Passengers
            input#ga-passenger-count.form-control.input-sm(
              type="text", placeholder="# - #",
              title="Number of passengers",
              taxifield="passenger_count", taxitype="intRange")
          .form-group
            button#ga-controls-filter.btn.btn-default.btn-sm
              i.icon-ok
              |  Filter
            #ga-map-loading.hidden
              i.icon-spin1.animate-spin
  .panel-group#ga-display-settings-panel
    .panel.panel-default
      .panel-heading
        a(data-toggle="collapse", data-parent="#ga-display-settings-panel",
          href="#ga-display-settings")
          .panel-title
            b Display
            i.icon-info-circled(data-placement="bottom", data-container="body",
              title="These parameters update the display as soon as they are changed.  The do not affect what data is used, only how it appears.")
      #ga-display-settings.panel-collapse.collapse.in
        .panel-body
          .form-group
            label(for="ga-tile-set") Tile Set
            select#ga-tile-set.form-control.input-sm(title="Tile Set",
                taxifield="display-tile-set")
              option(value="mapquest") MapQuest tiles
              option(value="openstreetmap") OpenStreetMap
              option(value="tonerlite") Stamen Toner Lite
          .form-group
            label(for="ga-display-type") Display Type
            select#ga-display-type.form-control.input-sm(title="Display Type",
                taxifield="display-type")
              option(value="pickup") Pickup Locations
              option(value="dropoff") Dropoff Locations
              option(value="both") Pickup - Dropoff Locations
              option(value="vector") Pickup - Dropoff Vectors
          .form-group
            label(for="ga-display-process") Processing
            select#ga-display-process.form-control.input-sm(title="Processing",
                taxifield="display-process")
              option(value="raw") Individual Trips
              option(value="binned") Binned Heatmap
          .form-group
            label(for="ga-display-num-bins") Number of Bins
            input#ga-display-num-bins.form-control.input-sm(
              type="text", placeholder="#",
              title="Number of bins across short dimension of the map",
              taxifield="display-num-bins", taxitype="int")
          .form-group
            button#ga-display-update.btn.btn-default.btn-sm
              i.icon-cw
              |  Update
          .form-group
            button#ga-place-manhattan.btn.btn-sm.ga-place(
                data-place="manhattan", title="Show all of Manhattan") 
              i.icon-target
              |  Manhattan
            button#ga-place-timessq.btn.btn-sm.ga-place(
                data-place="timessq", title="Show Times Square")
              i.icon-target
              |  Times Sq.
  .panel-group#ga-anim-settings-panel
    .panel.panel-default
      .panel-heading
        a(data-toggle="collapse", data-parent="#ga-anim-settings-panel",
          href="#ga-anim-settings")
          .panel-title
            b Animation
            i.icon-info-circled(data-placement="bottom", data-container="body",
              title="After changing animation parameters, select Update to use the new values.")
      #ga-anim-settings.panel-collapse.collapse.in
        .panel-body
          .form-group
            label(for="ga-cycle") Cycle
            select#ga-cycle.form-control.input-sm(title="Time cycle",
                taxifield="cycle")
              option(value="none") None
              option(value="hour") Hour
              option(value="day") Day
              option(value="week") Week
              option(value="month") Month
              option(value="year") Year
          .form-group
            label(for="ga-cycle-parts") Cycle Steps
            input#ga-cycle-parts.form-control.input-sm(
              type="text", placeholder="#", title="Time cycle divisions",
              taxifield="cycle-steps", taxitype="int")
          .form-group
            label(for="ga-cycle-subparts") Cycle Sub-steps
            input#ga-cycle-subparts.form-control.input-sm(
              type="text", placeholder="#", title="Time cycle sub-grouping",
              taxifield="cycle-substeps", taxitype="int")
          .form-group
            label(for="ga-cycle-steptime") Time per step
            input#ga-cycle-steptime.form-control.input-sm(
              type="text", placeholder="# ms", title="Milliseconds per Step",
              taxifield="cycle-steptime", taxitype="float")
          .form-group
            button#ga-anim-update.btn.btn-default.btn-sm
              i.icon-cw
              |  Update
            button#ga-play.btn.btn-default.btn-sm(taxifield="playState")
              span.canplay
                i.icon-play
                |  Play
              span.canpause
                i.icon-pause
                |  Pause
            button#ga-anim-step-back.btn.btn-default.btn-sm(title="Step back")
              i.icon-to-start
            button#ga-anim-step.btn.btn-default.btn-sm(title="Step forward")
              i.icon-to-end
            button#ga-anim-stop.btn.btn-default.btn-sm
              i.icon-stop
              |  Stop
          .form-group
            input#ga-step-slider.form-control.input-sm(
                type="text", data-slider-min="0", data-slider-max="100",
                data-slider-step="1", data-slider-value="0",
                data-slider-handle="square", data-slider-tooltip="hide",
                data-slider-id="ga-step-slider-ctl")
          .form-group
            label(for="ga-cycle-steps") Current Display
            span#ga-cycle-anim.form-control.input-sm Full Data
