.modal-dialog#ga-graph-settings
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true",
          type="button") &times;
      h4.modal-title
        | Graph Settings
    .modal-body
      .ga-graph-type
        label
          .radio
            input(type="radio", name="graph-type", "graph-type"="line",
                checked=(opts.type === "line" ? "checked" : undefined))
            i.icon-calendar
            | Plot by Date &mdash; Horizontal axis is the date
            div Select at least one data set
        label
          .radio
            input(type="radio", name="graph-type", "graph-type"="scatter",
                checked=(opts.type === "scatter" ? "checked" : undefined))
            i.icon-picture-1
            | Scatter Plot &mdash; Horizontal axis is first selected data set
            div Select at least two data sets
      .ga-graph-bin
        | Plot Resolution:
        label
          .radio-inline
            input(type="radio", name="graph-bin", "graph-bin"="hour",
                checked=(opts.bin === "hour" ? "checked" : undefined))
            | Hourly
        label
          .radio-inline
            input(type="radio", name="graph-bin", "graph-bin"="day",
                checked=(opts.bin === "day" ? "checked" : undefined))
            | Daily
      | Available Data Sets:
      ul#ga-dataset-list
        each datakey in datasets
          li.ga-dataset-entry(title=datasetInfo[datakey].description,
              data-placement="left", datakey=datakey)
            span.drag-handle &#x2630;
            input(type="checkbox", checked=($.inArray(datakey, series) >= 0 ?
                "checked" : undefined))
            .ga-dataset-name
              = datasetInfo[datakey].name
      .g-validation-failed-message
    .modal-footer
      a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
      button.ga-save-graph-settings.btn.btn-small.btn-primary(type="submit",
          xdata-dismiss="modal")
        i.icon-edit
        |  Apply
