mixin standardPanel(panel_id, content_id, title, tooltip, group)
  .panel-group(id=panel_id, class!=attributes .class, loggroup=group || title)
    .panel.panel-default
      .panel-heading(logsub="header", logid=(group || panel_id) + "_panel")
        a(data-toggle="collapse", data-parent="#"+panel_id,
            href="#"+content_id)
          .panel-title
            b= title
            i.icon-info-circled.notoggle(data-placement="bottom", data-container="body",
                title=tooltip, logid="help_icon")
            i.icon-down-open.open-icon.toggle-icon
            i.icon-up-open.close-icon.toggle-icon
            i.icon-link-ext.ga-intents-button.hidden.notoggle(data-placement="bottom", 
                data-container="body", logid="intents_icon",
                title="Show links to external applications")
      .panel-collapse.collapse.in(id=content_id)
        .panel-body
          if block
            block
          else
            p No Content
